<!-- cliente.page.html -->
<app-header></app-header>
<ion-content>
  <ion-list>
    <ion-item class="product-item" *ngFor="let producto of productos" color="hsl(48, 55%, 73%)">
      <div class="image-preview">
        <img [src]="producto.imagen">
      </div>
      <ion-label>
        <div class="name">{{producto.nombre}}</div>
        <div class="data">
          <strong>Precio: </strong> {{producto.precio | currency: 'CLP'}} <br>
          <strong>Stock: </strong> {{producto.stock}}
        </div>
      </ion-label>
      <ion-button (click)="agregarAlCarrito(producto)">
        <ion-icon name="cart-outline" slot="start"></ion-icon>
        Agregar al carrito
      </ion-button>
    </ion-item>
  </ion-list>

  <!-- Botón flotante para ver el carrito -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/carro']">
      <ion-icon name="cart"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
<app-footer></app-footer>
