<!-- sucursales.page.html -->
<ion-content>
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Conoce nuestras Sucursales
    </ion-title>
  </ion-toolbar>
</ion-header>
    <!-- Lista de Sucursales Mejorada -->
    <ion-card class="ion-margin-top">
      <ion-card-header>
        <ion-card-title>Sucursales Existentes</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let sucursal of sucursales">
            <ion-thumbnail slot="start" *ngIf="sucursal.ubicacion" class="location-thumbnail" (click)="abrirEnGoogleMaps(sucursal)">
              <ion-icon name="location" size="large" color="danger"></ion-icon>
            </ion-thumbnail>
            <ion-label>
              <h2>{{ sucursal.nombre }}</h2>
              <p>
                <ion-icon name="home-outline" class="small-icon"></ion-icon>
                {{ sucursal.direccion }}
              </p>
              <p>
                <ion-icon name="call-outline" class="small-icon"></ion-icon>
                {{ sucursal.telefono }}
              </p>
              <p>
                <ion-icon name="time-outline" class="small-icon"></ion-icon>
                {{ sucursal.horario }}
              </p>
              <ion-badge color="{{ sucursal.activo ? 'success' : 'medium' }}" class="ion-margin-top">
                {{ sucursal.activo ? 'Activo' : 'Inactivo' }}
              </ion-badge>
            </ion-label>

            <!-- Botones con iconos para acciones -->
            <div slot="end" class="ion-no-margin action-buttons">
              <ion-button fill="clear" color="primary" (click)="abrirEnGoogleMaps(sucursal)">
                <ion-icon name="map-outline" slot="icon-only"></ion-icon>
              </ion-button>
            </div>
          </ion-item>

          <ion-item *ngIf="sucursales.length === 0">
            <ion-label class="ion-text-center">
              No hay sucursales registradas
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
<app-footer></app-footer>
</ion-content>

