  <!-- footer.component.html -->
  <div class="pie">
    <h1>Pie de página</h1>

    <!-- Si la sesión está iniciada, muestra Home y Logout -->
    <p *ngIf="usuario">
      <a (click)="redirigirHome()">Home</a> <!-- Llama a la función para redirigir según el rol -->
    </p>
    <p *ngIf="usuario">
      <a (click)="logout()">Logout</a>
    </p>

    <!-- Si la sesión no está iniciada, muestra Login y Crear Cuenta -->
    <p *ngIf="!usuario">
      <a [routerLink]="['/']">Iniciar Sesion</a>
    </p>
    <p *ngIf="!usuario">
      <a [routerLink]="['/registrar']">Crear Cuenta</a>
    </p>
    <p *ngIf="usuario?.rol === 'administrador'">
    <a [routerLink]="['/crud-usuarios']">Gestionar Usuarios</a>
  </p>
  <p *ngIf="usuario?.rol === 'cliente'">
    <a [routerLink]="['/notificaciones']">Notificaciones</a>
  </p>
  <p *ngIf="usuario?.rol === 'vendedor'">
    <a [routerLink]="['/productos-bodega']">Productos en bodega</a>
  </p>
  </div>

