.pie {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  z-index: 100;
}

.main-content {
  padding-bottom: 80px; // para no quedar tapado
}


.pie h1 {
  margin: 0;
  font-size: 24px;
}

.pie p {
  margin: 5px 0;
}

.pie a {
  color: #ffcc00;
  text-decoration: none;
  font-size: 18px;
}

.pie a:hover {
  text-decoration: underline;
}

:host {
  display: block;
  width: 100%;
}

.pie {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

